@import "../../../../styles";

:host {
  width: 100%;
}

.e-button {
  cursor: pointer;
  border: none;
  background-color: $primary;
  color: $light;
  padding: 14px 28px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 8px;
  width: 100%;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

  &:disabled {
    background-color: $primary-light;
    color: $gray;
  }

  &__outlined {
    background-color: $light;
    border: 2px solid $primary;
    color: $primary;
  }

  &__negative {
    background-color: $light;
    border: 2px solid $gray;
    color: $gray;
  }
}
