@import '../../../../../styles';

.login-variants {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  &__title {
    font-weight: 500;
    font-size: 24px;
    text-align: center;
  }

  &__actions {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid $primary;
    padding: 5px;
    border-radius: 8px;

    &--icon {
      height: 24px;
      width: 24px;
      font-size: 24px;
    }

    &--title {
      text-align: center;
    }
  }
}

.icon-btn {
  mat-icon {
  }

  display: flex;
  align-items: center;
  gap: 10px;

  span {
    width: 100%;
  }
}
