<mat-dialog-content>
  <div class="login-variants">
    <div class="logo">
      <img src="Logo.svg">
    </div>
    <h2 class="login-variants__title">
      Выберите вариант входа
    </h2>
    <div class="login-variants__actions">
      <div class="login-variants__list">
        <e-button (click)="selectVariant('call')">
          <mat-icon class="login-variants__item--icon">
            person
          </mat-icon>
          Доверенное лицо
        </e-button>
        <e-button (click)="selectVariant('call')">
          <mat-icon class="login-variants__item--icon">
            call
          </mat-icon>
          Звонок
        </e-button>
        <e-button>
          <mat-icon class="login-variants__item--icon">
            qr_code
          </mat-icon>
          QR-code
        </e-button>
      </div>
      <h3 style="margin-top: 30px; margin-bottom: 10px;">
        Другие способы входа
      </h3>
      <div class="login-variants__list">
        <e-button
          variant="negative"
        >
          <mat-icon class="login-variants__item--icon">
            nfc
          </mat-icon>
          NFC-метка
        </e-button>
        <e-button
          variant="negative"
        >
          <mat-icon class="login-variants__item--icon">
            vpn_key
          </mat-icon>
          Личный код
        </e-button>
        <e-button
          variant="negative"
        >
          <mat-icon class="login-variants__item--icon">
            signature
          </mat-icon>
          Эл. подпись
        </e-button>
      </div>
    </div>
  </div>
</mat-dialog-content>
