<div class="container">
  <div class="login">
    <div class="login__logo">
      <img src="Logo.svg"/>
    </div>
    <div class="login__top">
      <div class="login__group">
        <e-input placeholder="Телефон / Email / СНИЛС"/>
      </div>
    </div>
    <div class="login__bottom">
      <div class="login__bottom--actions">
        <e-button>
          Войти
        </e-button>
      </div>

      <span [style.text-align]="'center'">
        Нет аккаунта?
        <a href="" class="hint" >
          Зарегистрироваться
        </a>
      </span>
    </div>
  </div>
</div>
