@import '../../../../../styles';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.login {
  background-color: $light;
  display: flex;
  flex-direction: column;
  width: 384px;
  align-items: center;
  padding: 40px 32px;
  border-radius: 12px;
  box-shadow: rgba(230, 235, 245, 0.4);

  &__top {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__logo {
    width: 193px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  &__bottom {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    .hint {
      align-self: center;
    }

    &--actions {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }

  &__text {
    color: $gray;
    text-align: center;
  }

  &__group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
