@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


$primary: #0D4CD3;
$light: #ffffff;
$gray: #66727F;
$primary-light: #E4ECFD;
$primary-extra-light: #F5F7FA;
$dark: #0b1f33;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: $primary-light;
}

.hint {
  cursor: pointer;
  color: $primary;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.logo {
  width: 193px;
}

code-input input {
  width: 60px !important;
  background-color: $primary-extra-light !important;

  &:focus {
    border-color: $primary !important;
  }
}

.mdc-snackbar__surface {
  background-color: #4ee354 !important;
}
