<mat-dialog-content>
  <button mat-icon-button (click)="goBack()">
    <mat-icon>
      arrow_back
    </mat-icon>
  </button>
  <div class="login-call">
    <div class="logo">
      <img src="Logo.svg">
    </div>
    <h2 class="login-call__title">
      Подтверждение входа
    </h2>
    @if (!(showLoader$ | async)) {
      <p class="login-call__text">
        Для продолжения совершите бесплатный звонок по номеру <strong>100</strong>
        и произнесите фразу:
      </p>
      <p class="login-call__word">
        <strong>&laquo;Хакатон&raquo;</strong>
      </p>
      <img
        class="login-call__img"
        [style.width]="'150px'"
        src="https://clipart-library.com/8300/2368/speaking-head-emoji-clipart-md.png"
      >
      <e-button>
        Позвонить
      </e-button>
    } @else {
      <div class="content">
        <mat-spinner></mat-spinner>
      </div>
    }
  </div>
</mat-dialog-content>
