<mat-dialog-content>
  <button mat-icon-button (click)="goBack()">
    <mat-icon>
      arrow_back
    </mat-icon>
  </button>
  <div class="login-key">
    <div class="logo">
      <img src="Logo.svg">
    </div>
    @if (!(isLoading$ | async)) {
      <h2 class="login-key__title">
        Введите персональный код
      </h2>
      <e-input style="width: 100%" placeholder="персональный код"/>
      <e-button (click)="confirm()">
        Подтвердить
      </e-button>
    }
  </div>
</mat-dialog-content>
